<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parsdigm Application">
	
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Paradigm Application Automation Testing">

		<classes>
			<class name="com.Test.PageTest.HomepageTest"/>
		</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
